body {
  font-family: arial, sans-serif;
}

div#timeline {
  background-color: rgba(65,111,20,0.2);
  margin-top: 3em;
  height: 1em;
  width: 100%;
  position: relative;
}
div#timeline .inside {
  position: absolute;
  height: 4px;
  background-color: #84c148;
  width: 0%;
  top: 3px;
  left: 0;
}
div#timeline .dot {
  z-index: 99;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  float: left;
  top: -15px;
  text-align: center;
  cursor: pointer;
}
div#timeline .dot:nth-child(1) {
  background-color: #416f14;
}
div#timeline .dot:nth-child(2) {
  background-color: #416f14;
}
div#timeline .dot:nth-child(3) {
  background-color: #416f14;
}
div#timeline .dot:nth-child(4) {
  background-color: #416f14;
}
div#timeline .dot:nth-child(5) {
  background-color: #416f14;
}
div#timeline .dot:nth-child(6) {
  background-color: #416f14;
}
div#timeline .dot:nth-child(7) {
  background-color: #416f14;
}
div#timeline .dot:nth-child(8) {
  background-color: #416f14;
}

/*
div#timeline .dot:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}*/

div#timeline .dot span {
  display: inline-block;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#playersline {
    height: 8em;
}

ul#playerlist {
    list-style: none;
}

#sessionTitle {
    height: 4em;
}