<div class="thumbnail">
    <div class="row">
        <div class="col-xs-5">
            <img class="kandoelogo" src="resources/images/logo.png" alt="Kandoe logo" />
        </div>
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-6">
                    <login-form>TEST</login-form>
                </div>
                <div class="col-xs-6">
                    <div class="vrdivider"></div>
                    <register-form>REG</register-form>
                </div>
            </div>
        </div>
    </div>
</div>

