<header>
    <heading></heading>
</header>
<section id="sidebar">
    <sidebar></sidebar>
</section>
<section id="main">
    <div class="row" id="banner">
        <div class="banner">
            <h1>Overzicht</h1>
        </div>
    </div>
    <div class="row sessionsoverview">
        <div class="col-xs-12">
            <h2>  Open sessies</h2>
            <hr/>
            <div class="col-xs-6 overviewSessionButton" *ngIf="!noOpenSession" *ngFor="#session of openSessions">
                <button class="btn btn-info btn-lg" (click)="onSelect(session)">{{session?.description}} open tot {{session?.end | date:'dd MMMM yyyy'}}</button>
            </div>
            <div *ngIf="noOpenSession">Er zijn geen sessies bezig.</div>
         </div>
    </div>
    <div class="row sessionsoverview">
        <div class="col-xs-12">
            <h2>  Geplande sessies</h2>
            <hr />
            <div class="col-xs-6 overviewSessionButton" *ngFor="#session of futureSessions">
                <button class="btn btn-info btn-lg" (click)="onSelect(session)">{{session?.description}} start op {{session?.start | date:'dd MMMM yyyy'}}</button>
            </div>
        </div>
    </div>
    <div class="row sessionsoverview">
        <div class="col-xs-12">
            <h2>  Gespeelde sessies</h2>
            <hr />
            <div class="col-xs-6 overviewSessionButton" *ngFor="#session of pastSessions">
                <button class="btn btn-info btn-lg" (click)="onSelectClosedSession(session)">{{session?.description}} gespeeld tot {{session?.end | date:'dd MMMM yyyy'}}</button>
            </div>
        </div>
    </div>
    <div class="row sesssionsfooter"></div>
</section>
