<header>
    <heading></heading>
</header>
<section id="sidebar">
    <sidebar></sidebar>
</section>
<section id="main">
    <div class="row" id="banner">
        <div class="banner">
            <h1>Berichten</h1>
        </div>
    </div>

    <div class="row sessionsoverview">
        <div class="col-xs-12">
            <h2>  Open sessies</h2>
            <ul id="sessionUl" *ngFor="#session of openSessions">
                <li id="sessionOpen">
                    <button class="btn btn-info btn-lg" (click)="onSelect(session)">{{session.description}} open tot {{session.end | date:'dd MMMM yyyy'}}</button>
                </li>
            </ul>
         </div>
    </div>
    <div class="row sessionsoverview">
        <div class="col-xs-12">
            <h2>  Aan te komen sessies</h2>
            <ul id="sessionUl" *ngFor="#session of futureSessions">
                <li id="sessionFuture">
                    <button class="btn btn-info btn-lg" (click)="onSelect(session)">{{session.description}} start op {{session.start | date:'dd MMMM yyyy'}}</button>
                </li>
            </ul>
         </div>
    </div>
    <div class="row sessionsoverview">
        <div class="col-xs-12">
            <h2>  Gespeelde sessies</h2>
            <ul id="sessionUl" *ngFor="#session of pastSessions">
                <li id="sessionPast">
                    <button class="btn btn-info btn-lg" (click)="onSelectClosedSession(session)">{{session.description}} gespeeld tot {{session.end | date:'dd MMMM yyyy'}}</button>
                </li>
            </ul>
         </div>
    </div>

</section>
