<ul class="nav nav-pills nav-stacked">
    <li id="organisations">
        <a href="#sub1" data-toggle="collapse">Organisaties</a>
        <ul class="nav collapse" id="sub1">
            <li *ngFor="#organisation of organisations">
                <a [routerLink]="['Organisation', {id: organisation.id}]">{{ organisation.name }}</a>
            </li>
            <li>
                <br />
            </li>
            <li>
                <a [routerLink]="['Organisations']">Overzicht</a>
            </li>  
        </ul>
    </li>
    <li id="sessions">
        <a href="#sub2" data-toggle="collapse">Sessies</a>
        <ul class="nav collapse" id="sub2">
            <li *ngFor="#session of sessions">
                <a [routerLink]="['Session', {id: session.id}]">{{ session.description }}</a>
            </li>
        </ul>
    </li>
    <li id="themes">
        <a [routerLink]="['Themes']">Thema's</a>
    </li>
    <li id="cards">
        <a [routerLink]="['Cards']">Kaartjes</a>
    </li>
</ul>